/*==================(General Css)==================*/

/* css reset*/
* {
  margin: 0;
  padding: 0;
}

/* H1 tag over the top of each page */
h1 {
  margin-left: 20px;
}

/* H3 tag over the top of each sub page */
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: purple;
}

/* entire app text align (besides h1) setting to "Start"*/
.App {
  text-align: start;
}

/*Links above page headers*/
.topLink{
color: blue;
}

/* container for each view page*/
.pageContainer {
  margin-left: 20px;
  margin-top: 10px;
  max-width: 500px;
}


/*==================(Dashboard view)==================*/

/* dashboard table*/
table, th, td {
  border: solid 1px;
  padding: 5px;
  height: 40px;
}

th {
background-color: lightgray;
font-weight: bolder;
}
/* tr {
  hover {background-color: #ddd;}
} */

.actionBox {
display: flex;
flex-direction: row;
}

/* names of authors*/
.aNames{
  color: purple;
}

/*Container holding the buttons*/
.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  min-width: 125px;
}

/* reminder this is for both buttons on dashboard, but delete has it's class added in the component file*/
.dashButton {
  background-color: lightgray;
  height: 30px;
  width: 60px;
  border-radius: 5px;
}


/*==================(Edit & New view)==================*/
.fieldContainer {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  padding: 20px;
}
label {
margin-bottom: 12px;
}
.inputFields{
  margin-bottom: 10px;
  max-width: 200px;
}

.cancelSubmit {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: start;

}

.cancel {
  margin-right: 10px;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  background-color: lightblue;
}

.submit {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  background-color: lightblue;


}
/*==================(Error view)==================*/
.errorPage {
  color: red;
  font-size: larger;
  font-weight: bold;
}

